extends layouts/main

block content
    if loggedInUser.avatarUrl
      img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
      
    form(method="POST", enctype="multipart/form-data")
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar", accept="image/*")
      input(type="text", placeholder="Name", name="name", required, value=loggedInUser.name)
      input(type="email", placeholder="email", name="email", required, value=loggedInUser.email)
      input(type="text", placeholder="Username", name="username", required, value=loggedInUser.username)
      input(type="text", placeholder="Location", name="location", required, value=loggedInUser.location)
      input(type="submit", value="Update Profile")
      
    if !loggedInUser.socialOnly
      a(href=`/users${routes.changePassword}`) Change Password
  
