extends layouts/main

block content
  div
    video(src="/" + video.fileUrl, controls)
    p=video.description
    time=video.createdAt
    
  div
    strong Uploaded by #{owner.name}
  
  if (String(video.owner) === String(loggedInUser._id)) 
    div
      a(href=`${video.id}/edit`) Edit Video &rarr;
      a(href=`${video.id}/delete`) Delete Video &rarr;
  
