header.header
  h1=pageTitle

  nav
    ul
      li  
        a(href=routes.home) home
      li
        a(href=routes.logout) Log out
      li
        a(href=routes.join) Join
      li
        a(href=routes.login) Login
      li
        a(href='/videos/upload') Upload
      li
        a(href=routes.search) Search
        
