header.header
  h1=pageTitle

  nav
    ul
      li  
        a(href=routes.home) home
      if loggedIn
        li
          a(href='/videos/upload') Upload
        li
          a(href=routes.logout) Log out
        li
          a(href='/users/edit') #{loggedInUser.name}ì˜ Edit Profile
      else 
        li
          a(href=routes.join) Join
        li
          a(href=routes.login) Login
      li
        a(href=routes.search) Search
        
