header.header
  h1=pageTitle

  .header__column
    a(href=routes.home)
      i.fab.fa-youtube
  
  .header__column
    ul
        li
          a(href=routes.logout) Log out
        li
          a(href=routes.join) Join
        li
          a(href=routes.login) Login
      
